@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=Jersey+15&display=swap')

// Jeresey15 Typo
.Jersey15
  font-family: 'Jersey15', serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal

// Handjet Typo
.Handjet
  font-family: 'Handjet', serif
  font-optical-sizing: auto
  font-weight: 400
  font-style: normal