@use '../utilities/variables' as *

.figures__cards
  display: grid
  grid-template-columns: repeat(4, 1fr) //Four same colums
  width: 85%
  height: 55rem
  padding: 2rem 0
  gap: 2rem
  justify-items: center

.cards__card
  width: $card-width
  height: $card-height
  display: flex
  flex-direction: column
  justify-content: flex-start
  position: relative
  border: $dark solid 0.4rem
  border-radius: 1rem
  padding: 0.5rem
  background-color: $primary
  transition: 300ms ease


  .card__img
    width: 100%
    height: 90%
    padding: 0.5rem
    object-fit: contain
    background-color: $primary150
    border-radius: 1rem
    transition: 300ms ease


  .card__name
    position: absolute
    margin-top: 18.5rem
    font-size: 3rem
    font-family: "Baloo 2", serif
    color: $dark
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25)
    transition: 0.5s ease

  .card__button
    opacity: 0
    visibility: hidden
    position: absolute
    right: 10px
    bottom: 0
    background: none
    border: none
    color: $neutral
    transition: 500ms ease
    font-size: 1.5rem
    font-family: "Baloo 2", sans-serif
    font-weight: 600
    text-shadow: 1px 4px 4px rgba(0, 0, 0, 0.5)



.cards__card:hover
  width: $card-width+1
  height: $card-height+1
  display: flex
  flex-direction: column
  justify-content: flex-start
  position: relative
  border: $dark solid 0.4rem
  border-radius: 1rem
  padding: 0.5rem
  background-color: $primary
  transition: 300ms ease

  .card__img
    opacity: 75%
    transition: 300ms ease

  .card__button
    opacity: 1
    visibility: visible
    transition: 500ms ease


//Overwrite Properties for change colors
.cards__card:nth-child(even)
  background-color: $secondary

  .card__img
    background-color: $secondary150


