@use '../utilities/variables' as *

//Variables
$card-width: 15rem
$card-height: 22rem
$card-gap: 1rem
$overlay-bg: rgba(0, 0, 0, 0.4)
$btn-bg: #fff
$btn-hover-bg: #f0f0f0

.figures__cards
  display: grid
  grid-template-columns: repeat(4, 1fr) //Four same colums
  gap: $card-gap
  width: 100%
  justify-content: space-between
  justify-items: center
  margin-top: 2rem
  margin-bottom: 4rem


.cards__card
  width: $card-width
  height: $card-height
  display: flex
  flex-direction: column
  justify-content: flex-start
  position: relative
  transition: 300ms ease
  border: $dark solid 0.4rem
  border-radius: 1rem
  padding: 0.5rem

  .card__img
    width: 100%
    height: 80%
    padding: 0.5rem
    object-fit: contain
    background-color: $primary
    border-radius: 1rem

  .card__name
    position: absolute
    margin-top: 15rem

  .card__button
    display: none

.cards__card:hover
  width: $card-width+1
  height: $card-height+1
  display: flex
  flex-direction: column
  justify-content: flex-start
  position: relative
  transition: 300ms ease
  .card__button
    display: block
    width: 100%
    position: absolute
    background-color: $primary
    opacity: 0.8
    margin-top: 17rem

