@use '../utilities/variables' as *

main
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.main__modal
  width: 90%
  height: 40rem
  margin-top: 2rem
  background-color: $primary

.header_title


.modal__form

