/*--------------------------------- Import Fonts ---------------------------------*/
@font-face {
    font-family: 'Baloo';
    src: url('/src/assets/fonts/Baloo.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Baloo2';
    src: url('/src/assets/fonts/Baloo2.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('/src/assets/fonts/AlbertSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*------------------------------- Default Configs --------------------------------*/
:root{
    font-size: 16px;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    font-size: 1rem;
}

/*------------------------------- Header Configs --------------------------------*/

.header{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2.5rem;
    background-color: #7EDBEC;
    align-items: center;
}

.header__logo{
    width: 4rem;
}

.header_nav{

}

.nav_link{

}

.header_button{

}


